<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<form action="" method="post" name="edit">
    {{form.hidden_tag()}}

    <table>
    <tr>
        <td>Latitude</td>
      	<td>{{form.latitude(size = 20)}}</td>
  	</tr>
   	<tr>
       	<td>Longitude:</td>
       	<td>{{form.longitude(size = 20)}}</td>
   	</tr>
    <tr>
        <td>Phone Number:</td>
        <td>{{form.phone(size = 20)}}</td>
    </tr>
  	<tr>
      	<td></td>
      	<td><input type="submit" value="Save Changes"></td>
  	</tr>
	  </table>
</form>

{% endblock %}