<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% if title %}
    <title>{{title}} - TeslaJarvis</title>
    {% else %}
    <title>TeslaJarvis</title>
    {% endif %}
  </head>
  <body>
    <style>
        html {
            height: 100%;
            margin: 0;
            padding: 0 0;
        }
        body {
            height:100%;
            margin: 0;
            padding-top:30px;
        }
        h1 {
            color: #D55B6A;
        }
    </style>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="min-width: 180px">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}" style="color:#D55B6A">TeslaJarvis</a>
            </div>
        {% if g.user.is_authenticated() %}
            <div class="nav navbar-nav navbar-right" style="float:right; padding-right:20px">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('user', nickname = g.user.nickname) }}">Your Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        {% endif %}
            </div>
        </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <img src="{{ url_for('static', filename='tesla.jpg') }}" alt="tesla"> 
    {% block content %}{% endblock %}
  </body>
</html>