<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<style>
  .outer {
    height:88%;
    display: table;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .inner {
    height: 85%;
    display: table-cell;
    vertical-align: middle;
    width:100%;
  }
  .centered {
    float: none;
    margin: 0 auto;
  }
</style>
<div class="jumbotron text-center">
  <h1>Welcome, {{user.nickname}}!</h1>
  <img src="{{ url_for('static', filename='teslaIcon.png') }}" width="173px" height="174px"/>
</div>
{% endblock %}