<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>');
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:');
        openid = openid.substr(0, u) + user;
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid;
    document.getElementById("login").submit();}
</script>
<style>
    #sign-in-area {
        height: 88%;
        display: table;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    #sign-in-block {
        height: 85%;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
    .centering {
        float: none;
        margin: 0 auto;
    }
</style>
<div id="sign-in-area">
    <div id="sign-in-block">
        <form class = "form-group" action="" method="post" name="login" style="text-align: center; color: #D55B6A">
            <h1>TeslaJarvis</h1>
            {{form.hidden_tag()}}
            <p>
                <div id="divTextbox" style="display: none;">{{form.openid(size=80)}}</div>
                {% for error in form.errors.openid %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
                {% for pr in providers %}
                <div>
                    <button class="btn btn-default" onclick="set_openid('{{pr.url}}', '{{pr.name}}')">Sign In With Google</button>
                </div>
                {% endfor %}
            </p>
        </form>
    </div>
</div>

{% endblock %}